html{
  scroll-behavior: smooth;
  
  }

*{

  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media screen and (max-width:620px) {
  body{
    width: 600px;
  }
  
}


/*Nav bar Starts*/
  .navba{
    position: absolute;
    min-width: 0;
    width: auto; /* for proper alignment */
    top: 0px;
    min-height: 0;
  }
  .wrapper{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75%);
  }

  .tab{
    top: 0.1rem;
    width: 100%;
    font-family: "Licorice", cursive;
    font-weight: 600;
    font-size: 54px;
    left: 0;
    font-style: normal;
    position: fixed;
    text-align: -webkit-center;
    color: #ffd865;
    z-index: 9;
    backdrop-filter: blur(146px);
    background: transparent;
    border-radius: 20px;

  }
  .menu-btn{
    position: fixed;
    z-index: 11;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
    background: #fff;
    color: #4158d0;
  }
  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    margin: 15px 0;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 50px;
    left: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #4158d0;
  }
  input[type="checkbox"]{
    display: none;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
  }
  .content .title{
    font-size: 40px;
    font-weight: 700;
  }
  .content p{
    font-size: 35px;
    font-weight: 600;
  }

/*Nav bar Ends*/

.text{
  background-image: url(../img/imggg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 70%;
  height: 630px;
  box-shadow :rgb(255, 174, 145);
  font-family: "Calligraffitti", cursive;
  font-weight: 550;
  font-style: normal;
  text-shadow: -3px 6px 9px #58cad3;
  padding-top: 2rem;
}


.text h1{    
  font-size: 40px;
  text-align: -webkit-center;
  color: #85b4c1;
  box-shadow: #000;
}

.loader { /*
  display: flex;
  width: 55%;
  height: 25rem;
  flex: inherit;
  margin: auto;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;*/


    display: flex;
    width: 50%;
    height: 26rem;
    flex: inherit;
    margin: auto;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    /* padding: 0px -35px; */
    /* margin-right: 5rem; */
    margin-top: 3rem;
    /* margin-left: 3rem; */
    margin-right: 9rem;
    box-shadow: 1px 1px 1px;
}

.loader::before{    content: '';
  width: 75px;
  height: 5px;
  background: #253050;
  position: inherit;
  top: 257px;
  left: 256px;
  border-radius: 50%;
  animation: shadow324 2s ease-in-out infinite;
}

.loader::after { 
  content: '';
  width: 206px;
  height: 206px;
  position: inherit;
  background-image: url("../img/yg1.png");
  background-repeat: no-repeat;
  left: 183px;
  top: 22px;
  border-radius: 40px;
  animation: jump7456 2s ease infinite;
}

@keyframes jump7456 {
  0% {
    transform: translateY(2px)
  }

  25% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(6px)
  }

  75% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(1px);
  }
}

@keyframes shadow324 {

  0%{
    transform: scale(1,1);
  }

  
  25% {
    transform: scale(1.5,1.5);
  }

  50% {
    transform: scale(2,2);
  }

  
  75% {
    transform: scale( 1.5,1.5);
  }

  
  100% {
    transform: scale(1,1);
  }

}


.Banner_text{
  position: absolute;
  top: 34vh;
  left: 6%;
  color: white;
  text-align: left;
  z-index: 1;
  }

.Banner_text h2{
  font-family: "Licorice", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 70px;
  width: 528px;
}
.Banner_text p ,a{
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  width: 440px;
}

.btnn {
  --primary-color: transparent;
  --secondary-color: #fff;
  --hover-color:blur(5px);
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 0.8em 1.5em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  box-shadow: inset 0px 0px 12px 0px gold;
}

.btnn .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnn .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.btnn .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.btnn:hover {
  background-color: var(--hover-color);
}

.btnn:hover .arrow {
  background: var(--secondary-color);
}

.btnn:hover .arrow:before {
  right: 0;
}

.pra {
  padding-top: 10%;
  position: absolute;
  width: 31%;
  left: 20%;
  font-size: 24px;
  letter-spacing: 2px;
  color: #000;
}

.Services{
  display: flex;
  flex-wrap: wrap;
}

.Services h1{
    width: 100%;
    height: 10rem;
    text-align: center;
    line-height: 10rem;
    font-size: 60px;
    color: darkgoldenrod;
}

.flip-card {
  background-color: transparent;
  width: 26%;
  height: 70vh;
  perspective: 1000px;
  font-family: sans-serif;
  margin: 2% 11% 3% 12%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.title {
  font-size: 45px;
  font-weight: 400;
  text-align: center;
  text-shadow: -6px 7px 16px #e5d55dbf;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
     rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
     color: #cbb13e;
}

.yoga{
  background-image: url(../img/1084.jpg);
  opacity: 0.6;
}

.read{
  background-image: url(../img/1085.jpg);
  opacity: 0.7;
  background-size: cover !important;
}

.sound{
  background-image: url(../img/1086.jpg);
  opacity: 0.7;
  background-size: cover !important;
}

.sleep{
  background-image: url(../img/1088.png);
  opacity: 0.7;
  background-size: cover !important;
  background-position: -310px !important;
}

.flip-card-back {
  
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom ;
  /*background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
     bisque 40%, rgb(255, 185, 160) 78%);
  */
  color: white;
  transform: rotateY(180deg);
}

.addon{
  background-image: url(../img/images.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 90%;
  height: 245px;
  margin: 20px;
  font-size: 20px;
  text-align: center;
  opacity: 0.8;
}

.texttt{
  opacity: 1;
  top: 32%;
  position: relative;
  color: white;
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 27px;

}


footer{
  background-color: #000;
  color: white;
  width: 100%;
  display: flex !important;
  height: 232px;
  flex-wrap: wrap;
  align-items: center;

}

footer .textt{
  height:10rem;
  font-size: 30px;
  padding-top: 2px;
  margin: auto;
}


footer .links{
  font-size: 20px;
  margin: auto;
}


